<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuneIn"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".messaging.Firebase"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SpotifyConnectActivity"
            android:exported="false"
            android:label="@string/title_activity_spotify_connect"
            android:theme="@style/Theme.TuneIn" />
        <activity
            android:name=".PostsActivity"
            android:exported="false"
            android:label="@string/title_activity_posts"
            android:theme="@style/Theme.TuneIn" />
        <activity
            android:name=".FriendsActivity"
            android:exported="false"
            android:label="@string/title_activity_friends"
            android:theme="@style/Theme.TuneIn"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.TuneIn" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.TuneIn" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TuneIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".LoginActivity" android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>